h4 {
	margin: 10px 0;
}
input {
	margin-right: 5px;
}
label {
	cursor: pointer;
}
.shop {
	display: flex;
	width: 895px;
	min-height: 20vh;
	margin: 0 auto;
	background-color: #333;
	padding: 20px;
	border-radius: 8px;
}

.filter-section {
	box-sizing: border-box;
	width: 200px;
	height: 100%;
	padding: 10px;
	margin-right: 20px;
	border-radius: 8px;
	background-color: #242424;
}
.filter-section div {
	display: flex;
	flex-direction: column;
	text-align: start;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 670px;
}

.product-card {
	box-sizing: border-box;
	width: 210px;
	height: 300px;
	padding: 20px;
	border-radius: 8px;
	background-color: #242424;
}

.product-card h3 {
	font-size: 16px;
}
.product-info p,
h3 {
	margin: 0;
}
img {
	scale: 1.5;
}
@media (max-width: 1010px) {
	.shop {
		width: 615px;
	}
}
@media (max-width: 725px) {
	.shop {
		width: 390px;
	}
}
input:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}
label:has(input:disabled) {
	color: rgb(63, 63, 63);
	opacity: 0.3;
	cursor: not-allowed;
}
button {
	margin-top: 10px;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
}
